@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;700&family=Poppins:ital,wght@0,200;0,600;1,300&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
