*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
}


.navbar{
    display: flex;
    /* border: 1px solid rgb(173, 74, 74); */
    justify-content: space-around;
    padding: 10px;
   
}
.content{
    display: flex;
    text-decoration: none;
    gap: 550px;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: large;
}
a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}